.container {
  max-width: 90rem;
  margin: 0 auto;
  /* height: 115rem; */
  border: 2px solid green;
  /* padding: 0 10.36rem; */
  position: relative;
  overflow: hidden;
}

.hero--desktop {
  position: absolute;
  top: -9.13rem;
  right: -20.18rem;
  z-index: -1;
}
