.card {
  width: 21.875rem;
  height: 20.125rem;
  padding: 4rem 2rem 2.5rem 2rem;
  border-radius: 0.9375rem;
  position: relative;
  background-color: white;
}

.heading {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: var(--color-black);
}

.description {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
  color: var(--color-grey);
  margin-top: 1.5rem;
}

.link {
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--color-hot-pink);
  cursor: pointer;
  /* border: 1px solid gray; */
  display: inline;
  position: absolute;
  /* left: 0; */
  bottom: 2.5rem;
}

.link:hover {
  color: #ffa7c3;
}

.logo {
  position: absolute;
  left: 2rem;
  top: -1.5rem;
}

@media screen and (max-width: 48rem) {
  .card {
    width: 21.25rem;
  }

  .heading {
    font-size: 1.25rem;
  }
  .description {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .link {
    bottom: 2rem;
  }
}
