.courses-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: linear-gradient(180deg, #fff 0%, #f0f1ff 100%);
  column-gap: 1.5rem;
  row-gap: 5rem;
  padding: 0 10.36rem;
  padding-bottom: 8.75rem;
}

.popular-courses {
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 2.5rem;
  color: var(--color-white);
  width: 21.875rem;
  padding: 4rem 2rem 8.6rem 2rem;
  border-radius: 0.9375rem;
  background: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
}

@media screen and (max-width: 48rem) {
  .courses-section-container {
    grid-template-columns: 1fr 1fr;
    padding: 0 2.44rem;
    padding-bottom: 5.4rem;
    column-gap: 0.63rem;
    row-gap: 3.5rem;
  }

  .popular-courses {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: 2rem;
    width: 21.1875rem;
    padding: 3.5rem 1.3rem 8.7rem 2rem;
  }
}

@media screen and (max-width: 26.5625rem) {
  .courses-section-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    padding-bottom: 5.4rem;
    row-gap: 2.5rem;
  }
  .popular-courses {
    padding: 2rem 1.8rem;
    width: 26.5625rem;
  }
}
