:root {
  --color-violet: #666ca3;
  --color-black: #13183f;
  --color-grey: #83869a;
  --color-hot-pink: #f74780;
  --color-pink: #ffa7c3;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
}
